{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block scripts %}
    <script language="JavaScript">
        $(document).ready(function() {

                  $('#auth_leave').change( function() {

                      leave = $('#auth_leave').val();
                      if (leave==2){
                          $('#parent_auth_show').css("display","");
                      }else{

                          $('#parent_auth_show').css("display","none");
                      }

                  });
                display_ul = $("#nav_display");
                display_li = $("#nav_display").find('li');
               // alert(display_li.text())
                display_ul.css({"list-style":"none","margin":"0px","padding":"0px"});
                display_li.css({"float":"left"});
        });

    </script>
{% endblock %}
{% block content %}
  <h2>添加权限</h2>

 <form method="POST" action="">
  {{form.hidden_tag()}}
  <table class="table table-condensed">
      <tr>
          <td class="text-right">{{ form.auth_name.label }}<font color="red">*</font></td>
          <td>{{form.auth_name()}} {{ render_errors(form.auth_name)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right"> {{ form.auth_code.label }}<font color="red">*</font></td>
          <td>{{form.auth_code()}} {{ render_errors(form.auth_code)}}</td>
          <td>创建后不可更改并且唯一。</td>
      </tr>
      <tr>
          <td class="text-right"> {{ form.auth_url.label }}</td>
          <td>{{form.auth_url()}} {{ render_errors(form.auth_url)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right"> {{ form.auth_desc.label }}</td>
          <td>{{form.auth_desc()}}  {{ render_errors(form.auth_desc)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right"> {{ form.auth_leave.label }}</td>
          <td>{{form.auth_leave()}}  {{ render_errors(form.auth_leave)}}</td>
          <td></td>
      </tr>
     <tr id='parent_auth_show'  style="display:none;">
          <div >
            <td class="text-right"> <label for="parent_auth_id">上级菜单</label></td>
            <td>
                <select id="parent_auth_id" name="parent_auth_id">
                {% for parent_auth in parent_auths %}
                    <option value="{{ parent_auth.id }}">{{ parent_auth.auth_name }}</option>
                 {% endfor %}
                </select>
             </td>
            <td></td>
          </div>
      </tr>
      <tr>
          <td class="text-right"> {{ form.nav_display.label }}</td>
          <td>
            {% for subfield in form.nav_display %}
              {% if subfield.data == '1' %}
                {{ subfield(checked="checked")}}
              {% else %}
                {{ subfield}}
              {% endif %}
              {{ subfield.label }}
            {% endfor %}
              {{ render_errors(form.nav_display)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">创建人</td>
          <td>    
            {% if creator_value %}
              {{creator_value}}
            {% endif %}
          </td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td>
              <input class="btn btn-info" type="submit" value="添加" >
{#              <input class="btn btn-info" type="reset" value="重置" />#}
              <a href="/auth/addauth/" class="btn btn-info" >重置</a>
          </td>
          <td> </td>
      </tr>
  </table>
  </form>
{% endblock %}