{% extends "base.html" %}
{% from "macros/_page.html" import paginate %}

{% block content %}
  <h2>权限列表</h2>

<table class="table table-striped">
    <tr>
        <td>序号</td>
        <td>权限名称</td>
        <td>权限代码</td>
        <td>权限URL</td>
        <td>权限描述</td>
        <td>创建人</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>

    {% if auth_page_obj %}
    {% for auth in auth_page_obj.items %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{auth.auth_name}}</td>
        <td>{{auth.auth_code}}</td>
        <td>{{auth.auth_url}}</td>
        <td>{{auth.auth_desc}}</td>
        <td>{{auth.creator_obj.username}}</td>
        <td>{{auth.create_date}}</td>
        <td>
            <a href="/auth/updateauth/{{auth.id}}">编辑</a> | <a href="/auth/deleteauth/{{auth.id}}">删除</a>
        </td>
    </tr>
    {% endfor%}
    {% endif %}
</table>
{{ paginate(auth_page_obj, auth_page_url)}}
{% endblock %}