{% extends "base.html" %}
{% from "macros/_page.html" import paginate %}

{% block content %}
  <h2>角色列表</h2>

<table class="table table-striped">
    <tr>
        <td>序号</td>
        <td>角色名称</td>
        <td>角色代码</td>
        <td>角色描述</td>
        <td>创建人</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>

    {% if role_page_obj %}
    {% for role in role_page_obj.items %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{role.role_name}}</td>
        <td>{{role.role_code}}</td>
        <td>{{role.role_desc}}</td>
        <td>{{role.creator_obj.username}}</td>
        <td>{{role.create_date}}</td>
        <td>
            <a href="/role/updaterole/{{role.id}}">编辑</a> | 
            <a href="/role/deleterole/{{role.id}}">删除</a> |
            <a href="/roleauth/setroleauth/{{role.id}}">权限</a>
        </td>
    </tr>
    {% endfor%}
    {% endif %}
</table>
{{ paginate(role_page_obj, role_page_url)}}
{% endblock %}