{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block scripts %}
    <script language="JavaScript">

            function setChange(parent_id,is){

                v=document.getElementById(parent_id);
{#                alert(v.value);#}
                if (is.checked){

                    v.checked = true;

                };

            }
    </script>
{% endblock %}
{% block content %}
  <h2>设置角色权限</h2>

  {% if  role and user %}
  <form method="POST" action=''>

    <p>
      角色名称：{{role.role_name}}
    </p>
    <p>
      创建人 {{user.username}}
    </p>    
   {#   <p>
      {{ form.auth_list.label }}{{form.auth_list()}} {{render_errors(form.auth_list)}}
    </p> #}

    {% for auth in auth_list %}
        {% if auth.auth_leave == 1 and auth.parent_auth_id == 0 %}

               {% if auth.role_id %}
                    <label for="name"><input id="{{ auth.auth_code }}" type="checkbox" name="auth_id" checked="checked" value="{{ auth.id }}" >{{ auth.auth_name }}</label>
               {% else %}
                    <label for="name"><input id="{{ auth.auth_code }}" type="checkbox" name="auth_id"  value="{{ auth.id }}" >{{ auth.auth_name }}</label>
               {% endif %}

        {% endif %}
        <div style="margin-left: 15px">
            {% for auth2 in auth_list %}
                {% if auth2.parent_auth_id == auth.id and auth2.auth_leave == 2 %}
                    <label class="checkbox-inline">
                       {% if auth2.role_id %}
                            <input type="checkbox" name="auth_id" checked="checked" value="{{ auth2.id }}" > {{ auth2.auth_name }}
                       {% else %}
                            <input type="checkbox" name="auth_id" value="{{ auth2.id }}" onchange=setChange("{{ auth.auth_code }}",this); > {{ auth2.auth_name }}
                       {% endif %}
                    </label>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
  {% endif %}
    <input type="submit" value="更新" class="btn btn-primary" />
  </form>
{% endblock %}