{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}

{% block content %}
  <h2>添加用户</h2>

  <form method="POST" action="">
  {{form.hidden_tag()}}
  <table class="table table-condensed">
      <tr>
          <td class="text-right">{{ form.username.label }}<font color="red">*</font></td>
          <td>{{ form.username(placeholder="用户名") }} {{ render_errors(form.username)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.password.label }}<font color="red">*</font></td>
          <td>{{ form.password(placeholder="密码") }} {{ render_errors(form.password)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.confirm.label }}<font color="red">*</font></td>
          <td>{{ form.confirm(placeholder="密码") }} {{ render_errors(form.confirm)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.name.label }}<font color="red">*</font></td>
          <td>{{form.name()}} {{ render_errors(form.name)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.email.label }}<font color="red">*</font></td>
          <td> {{form.email()}} {{ render_errors(form.email)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.phone.label }}<font color="red">*</font></td>
          <td> {{form.phone()}} {{ render_errors(form.phone)}}</td>
          <td></td>
      </tr>
     <tr>
          <td class="text-right"> <label for="role_id">角色</label> <font color="red">*</font></td>
          <td>
              <select id="role_id" name="role_id">
                   {% for role in roles %}
                       <option value="{{ role.id }}">{{ role.role_name }}</option>
                   {% endfor %}
              </select>
          </td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right"> {{ form.status.label }} <font color="red">*</font></td>
          <td>      
            {% for subfield in form.status %}
              {% if subfield.data == '1' %}
                {{ subfield(checked="checked")}}
              {% else %}
                {{ subfield}}
              {% endif %}
              {{ subfield.label }}
            {% endfor %}
            {{ render_errors(form.status)}}
          </td>
          <td></td>
      </tr>
          {% if creator_value %}
            <tr>
                <td class="text-right"> 创建人</td>
                <td>{{creator_value}}</td>
                <td></td>
            </tr>
          {% endif %}
      <tr>
          <td></td>
          <td>
              <input class="btn btn-info" type="submit" value="添加" >
              <a href="{{ url_for('users.add_user') }}" class="btn btn-info" >重置</a>
{#              <input class="btn btn-info" type="reset" value="重置" />#}
          </td>
          <td> </td>
      </tr>
  </table>
  </form>
{% endblock %}