{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}

{% block content %}
  <h2>修改用户密码</h2>
  {% if user and form %}
  <form method="POST" action="">
  {{form.hidden_tag()}}
  <table class="table table-condensed">
      <tr>
          <td class="text-right">账号</td>
          <td>{{user.username}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.current_password.label }}<font color="red">*</font></td>
          <td>{{ form.current_password(placeholder="当前密码") }}  {{ render_errors(form.current_password)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.password.label }}<font color="red">*</font></td>
          <td>{{ form.password(placeholder="新密码") }} {{ render_errors(form.password)}}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.confirm.label }}<font color="red">*</font></td>
          <td>{{ form.confirm(placeholder="新密码确认") }} {{ render_errors(form.confirm)}}</td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td>
              <input class="btn btn-info" type="submit" value="添加" >
              <a href="{{ url_for('users.update_password') }}" class="btn btn-info" >重置</a>
          </td>
          <td> </td>
      </tr>
  </table>
  </form>

  {% endif %}

{% endblock %}