{% extends "base.html" %}
{% block head%}
 {%set roundshade=url_for('static', filename='img/' ~ 'zxx_round_shade.png', _external=true) %}
     {% block styles %}
         <style type="text/css">
        /*自适应圆角投影*/
            .round_shade_box{width:1px; height:1px; font-size:0; display:none; _background:white; _border:1px solid #cccccc;}
            .round_shade_top{margin:0 12px 0 10px; background:url({{roundshade}}) repeat-x -20px -40px; _background:white; zoom:1;}
            .round_shade_topleft{width:11px; height:10px; background:url({{roundshade}}) no-repeat 0 0; _background:none; float:left; margin-left:-11px; position:relative;}
            .round_shade_topright{width:12px; height:10px; background:url({{roundshade}}) no-repeat -29px 0; _background:none; float:right; margin-right:-12px; position:relative;}
            .round_shade_centerleft{background:url({{roundshade}}) no-repeat 0 -1580px; _background:none;}
            .round_shade_centerright{background:url({{roundshade}}) no-repeat right -80px; _background:none;}
            .round_shade_center{font-size:14px; margin:0 12px 0 10px; padding:10px; background:white; letter-spacing:1px; line-height:1.5;}
            .round_shade_bottom{margin:0 12px 0 11px; background:url({{roundshade}}) repeat-x -20px bottom; _background:white; zoom:1;}
            .round_shade_bottomleft{width:11px; height:10px; background:url({{roundshade}}) no-repeat 0 -30px; _background:none; float:left; margin-left:-11px; position:relative;}
            .round_shade_bottomright{width:12px; height:10px; background:url({{roundshade}}) no-repeat -29px -30px; _background:none; float:right; margin-right:-12px; position:relative;}
            .round_shade_top:after,.round_shade_bottom:after,.zxx_zoom_box:after{display:block; content:"."; height:0; clear:both; overflow:hidden; visibility:hidden;}
            .round_box_close{padding:2px 5px; font-size:12px; color:#ffffff; text-decoration:none; border:1px solid #cccccc; -moz-border-radius:4px; -webkit-border-radius:4px; background:#000000; opacity:0.8; filter:alpha(opacity=80); position:absolute; right:-5px; top:-5px;}
            .round_box_close:hover{opacity:0.95; filter:alpha(opacity=95);}

            /*自适应圆角投影结束*/
        </style>
    {% endblock %}
    {% block scripts %}
        {{ tags.script_tag('js/content_zoom.js') }}


    <script type="text/javascript">
        $(document).ready(function() {
            $('#certific_img').fancyZoom({scaleImg: true, closeOnClick: true});
            $('#b_lic_img').fancyZoom({scaleImg: true, closeOnClick: true});
    });
    </script>
    {% endblock %}
{% endblock%}
{% block content %}
    <form class="form form-horizontal" action="" method="POST">

    <div class="panel panel-default" style="width: 800px">
         <div class="panel-heading">
            <h3 class="panel-title">条码证书审核</h3>
         </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">商品条码</label>
            <div class="col-sm-2 form-control-static" >
                {{bar_code}}
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="bar_code" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="bar_code" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text" name="bar_code_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>

        <div class="form-group ">
            <label class="col-sm-2 control-label">服务时长</label>
            <div class="col-sm-2 form-control-static" >
                {{period}}个月
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="period" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="period" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text"  name="period_msg" class="form-control" placeholder="备注"/>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-4 form-control-static">
                    <a href="#pic_1" class="thumbnail" id="certific_img">
                       <img src="{{ url_for('static', filename='upload/audit/' ~ img_path('04'), _external=true) }}" valign="middle">
                    </a>
            </div>
            <div id="pic_1" style="display:none;"><img style="height: 700px;width: 900px" src="{{ url_for('static', filename='upload/audit/' ~ img_path('04'), _external=true) }}" /></div>

            <div class="col-sm-3 " style="margin-top: 60px">

                <input type="radio" name="certific" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="certific" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5" style="margin-top: 60px">
                <input  type="text"  name="certific_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>

    </div>
    <div class="panel panel-default" style="width: 800px">
         <div class="panel-heading">
            <h3 class="panel-title">营业执照审核</h3>
         </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">条码所有者</label>
            <div class="col-sm-2 form-control-static" >
                {{org}}
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="org" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="org" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text" name="org_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">所属区域</label>
            <div class="col-sm-2 form-control-static" >
                {{area}}
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="area" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="area" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text" name="area_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">通讯地址</label>
            <div class="col-sm-2 form-control-static" >
                {{address}}
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="address" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="address" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text"  name="address_msg"  class="form-control" placeholder="备注"/>
            </div>

        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">邮编</label>
            <div class="col-sm-2 form-control-static" >
                {{post_code}}
            </div>
            <div class="col-sm-3 form-control-static">

                <input type="radio" name="post_code" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="post_code" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5">
                <input  type="text" name="post_code_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>
        <div class="form-group ">
            <div class="col-sm-4 form-control-static" >
                    <a href="#pic_2" class="thumbnail" id="b_lic_img">

                       <img src="{{ url_for('static', filename='upload/audit/' ~ img_path('03'), _external=true) }}" valign="middle">
                    </a>
            </div>
            <div id="pic_2" style="display:none;"><img style="height: 700px;width: 900px" src="{{ url_for('static', filename='upload/audit/' ~ img_path('03'), _external=true) }}" /></div>
            <div class="col-sm-3 " style="margin-top: 60px">

                <input type="radio" name="b_lic" id="inlineRadio1" value="1"> 通过
                <input type="radio" name="b_lic" id="inlineRadio2" value="0"> 不通过
            </div>
            <div class="col-sm-5" style="margin-top: 60px">
                <input  type="text" name="b_lic_msg" class="form-control" placeholder="备注"/>
            </div>

        </div>
    </div>
    <div class="form-group" style="width: 800px">
        <div class="col-sm-offset-1 col-sm-3 ">
            <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <a href="{{ url_for('audit.query') }}" class="btn btn-default btn-lg btn-block">返回</a>
        </div>
    </div>
 </form>

{% endblock%}
