<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        function msg(){

            if(confirm('确认提交信息？')){
                window.event.returnValue = true;
//                document.form.submit();
                document.getElementById("dform").submit();
            }else{

                window.event.returnValue = false;
            }
        }
        function resetBtn(fm){
            fm.reset();
            return false;
        }

    </script>
</head>
<body>
<form name="form" id="dform" method="post" action="/flow/save">
<div style="text-align:center">

<table cellspacing="0" cellpadding="0"  style="margin:auto">

              <input name="flow_id" type="hidden" value="{{flow.flow_id}}" />
    <tr>
        <td>流程名:</td>
        <td><input type="text" name="flow_name" value="{{flow.flow_name}}"/></td>
    </tr>
    <tr>
        <td>
            流程描述:
        </td>
        <td>
            <textarea name="flow_desc"  >{{flow.flow_desc}}</textarea>  <br>
        </td>
    </tr>
    <tr>
        <td><input  type="submit" value="提交" ></td>
        <td><input  type="button"  value="重置" onClick="return resetBtn(this.form);"></td>
    </tr>
</table>
 </div>
</form>
</body>
</html>