<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
  <style>
      div{float: left;margin-right: 20px}
  </style>
</head>
<body>
   <form method="post" action="/flow/save_node_audter">
    <DIV>请选择流程步骤：</DIV>
    <DIV><select name="flow_node_id">

    {% for node in nodes %}
       <option value="{{node.flow_node_id}}">{{node.flow_name+" -- "+node.flow_node_name}}</option>
    {%endfor%}
    </select>
    </DIV>
    <DIV>请选择则审批人：</DIV>
    <DIV>
    {% for user in users %}
        <label><input type="checkbox" name="user_ids" value="{{user.id}}"/>{{user.username}}</label><br>
    {%endfor%}
    </DIV>
    <div><input type="submit" value="提交"></div>
   </form>
</body>
</html>