<script type="text/javascript">

  var i = 0;
  function adddiv( selectobj,textobj,textareaobj, divobj ) {

      var newHtml = document.createElement('div');
      newHtml.id = divobj + i;
      newHtml.className='divcss4';
      newHtml.innerHTML = "前置节点:&nbsp;&nbsp;&nbsp;  <select name=" +selectobj+
             '>{% for node in flow_nodes %}<option value="{{node.flow_node_id}}">{{node.flow_node_name}}<\/option>{% endfor %} <\/select> <br>' +
             '节点名称： <input name='+ textobj+
           '\/> <br>节点描述： <textarea name=' + textareaobj +
           '><\/textarea><a href="javascript:" onclick="del(\'' +  ( divobj + i )  + '\')">删除';

            document.getElementById(divobj).appendChild( newHtml );
            i++;
     }
    function del( objs ) {
         var object = document.getElementById( objs );
       object.parentNode.removeChild( object );
    }
    function changeselect1(locationid) {


        document.form.previous_node.length = 0;//初始化下拉列表，清空下拉数据
        document.form.previous_node.options[0] = new Option('所有流程', '所有流程');//给第一个值

        for (i = 0; i < subcat.length; i++) {
            if (subcat[i][0] == locationid) {
            document.form.previous_node.options[document.form.previous_node.length] = new Option(subcat[i][1], subcat[i][2]);
            }//建立option
        }
    }

    function openChild(){
        select_flow = document.getElementById("flow_select")
        flow_id = select_flow.options[select_flow.selectedIndex].value

        var k = window.showModalDialog("/flow/select_node_show?flow_id="+flow_id,window,"dialogWidth:400px;status:no;dialogHeight:300px");
//        if(k != null)
//        document.getElementById("txt11").value = k;
    }
</script>
<style type="text/css">
.align-center{
width:720px;margin:0px auto;margin-top: 100px;

}
.div2css{margin-right: 20px}
</style>
{% block content %}

 <form name="form" method="post">
   <div class="align-center">
   <div style="float:left" class="div2css">
   请选择流程:
  <select name="flow_select" id ="flow_select" class="div2css">
  {% for flow in flow_list %}

       <option value="{{flow.flow_id}}">{{flow.flow_name}}</option>

  {% endfor %}
  </select>
   </div >
    <div style="float:left">点击<a href="javascript:" onclick="openChild();">添加</a>节点步骤 <br></div>
   </div>
</form>
{% endblock %}