{% extends "base.html" %}

{% block content %}
  <h2>扣费</h2>
  <form method="POST" action=''>
    <table class="table table-condensed">
    <tr>
      <td class="text-right">注册商</td>
      <td>{{ agent.agent_name }}</td>
      <td></td>
    </tr>
    <tr>
      <td class="text-right">扣费金额</td>
      <td><input type="text" name="amount" value="{{ amount }}" /></td>
      <td></td>
    </tr>
    <tr>
      <td class="text-right"></td>
      <td>
          <input type="submit" value="完成" class="btn btn-primary" />
          <input type="reset" value="重置" class="btn btn-info" />
      </td>
      <td></td>
    </tr>
    </table>
  </form>
{% endblock %}