{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}

{% block content %}
  <h2>修改注册商</h2>
  <form method="POST" action=''>
    {{ form.hidden_tag() }}
    <table class="table table-condensed">
      <tr>
          <td class="text-right">注册商</td>
          <td>{{ agent.agent_name }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.comp_name.label }} <font color="red">*</font></td>
          <td>{{ form.comp_name() }} {{ render_errors(form.comp_name) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.email.label }} <font color="red">*</font></td>
          <td>{{ form.email() }} {{ render_errors(form.email) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.phone.label }} <font color="red">*</font></td>
          <td>{{ form.phone() }} {{ render_errors(form.phone) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.url.label }}<font color="red">*</font></td>
          <td> {{ form.url() }} {{ render_errors(form.url) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.abuse_email.label }}<font color="red">*</font></td>
          <td> {{ form.abuse_email() }} {{ render_errors(form.abuse_email) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right">{{ form.abuse_phone.label }}<font color="red">*</font></td>
          <td> {{ form.abuse_phone() }} {{ render_errors(form.abuse_phone) }}</td>
          <td></td>
      </tr>
      <tr>
          <td class="text-right"></td>
          <td>
              <input type="submit" value="完成" class="btn btn-primary" />
              <input type="reset" value="重置" class="btn btn-info" />
          </td>
          <td></td>
      </tr>
      </table>
  </form>
{% endblock %}