{% extends "base.html" %}

{% block content %}
  <h2>修改域名价格</h2>
  <form method="POST" action=''>
    <table class="table table-condensed">
      <tr>
        <td class="text-right">注册商</td>
        <td>{{ agent.agent_name }}</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-right">域名价格</td>
        <td>
          <select name="price_id">
            {% for item in price_list %}
              <option value="{{ item.id }}" {% if item.id == agent.domain_price_id %} selected="selected" {% endif %}>
                  {{ item.price }}
                  {% if item.pay_type == 1 %}
                      /年
                  {% elif item.pay_type == 2 %}
                      /月
                  {% endif %}
              </option>
            {% endfor %}
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
              <input type="submit" value="完成" class="btn btn-primary" />
              <a href="{{ url_for('agent.update_price', id=agent.id) }}" class="btn btn-info" >重置</a>
        </td>
        <td></td>
      </tr>
    </table>
  </form>
{% endblock %}