<!DOCTYPE html>
{% import "macros/_helpers.html" as tags %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}-Niot - MarkPanel</title>

        <!-- 全局样式 -->
        {{ tags.style_tag('lib/bootstrap/css/bootstrap.min.css') }}
        {{ tags.style_tag('css/styles.css') }}
        {{ tags.style_tag('css/font-awesome.min.css') }}
        {{ tags.style_tag('css/bootstrap-datetimepicker.min.css') }}

        <!-- 页面样式 -->
        {% block styles %}{% endblock %}

        <!-- 全局脚本 -->
        {{ tags.script_tag('lib/jquery-1.7.2.min.js') }}
        {{ tags.script_tag('lib/bootstrap/js/bootstrap.min.js') }}
        {{ tags.script_tag('lib/bootstrap.bform.js') }}
        {{ tags.script_tag('js/application.js') }}
        {{ tags.script_tag('lib/bootstrap-datetimepicker.min.js') }}
        {{ tags.script_tag('lib/bootstrap-datetimepicker.zh-CN.js') }}


        <!-- 页面脚本 -->
        {% block scripts %}{% endblock %}

    </head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">NIOT-MarkPanel</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}


              {% if session.user_auth  %}

                {% for auth in session.user_auth %}
                    {% if auth.auth_leave == 1 and auth.parent_auth_id == 0%}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-large"></i> {{ auth.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for auth2 in session.user_auth %}

                              {% if auth2.parent_auth_id == auth.id and auth2.auth_leave == 2 %}

                                 <li><a href="{{ auth2.url }}"><i class="icon-ok"></i> {{ auth2.name }}</a></li>

                              {% endif %}

                            {% endfor %}
                        </ul>
                        </li>
                    {% endif %}
                {% endfor %}

              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-user icon-large"></i>我的账户<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li><a href="{{ url_for('users.user_info') }}">账户详情</a></li>
                   <li><a href="/users/updatepassword/">修改密码</a></li>
                </ul>
               </li>
              <li><a href="{{url_for('users.logout')}}">登出</a></li>
            {% else %}
               <li><a href="{{url_for('users.login')}}">登陆</a></li>
            {% endif %}
          </ul>

      </div>
    </div>
      <div class="container" style="margin-top: 80px">

      <div class="row">

            <div class="alert-messages">
                {% for category, message in  get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category | default('info') }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% block content %} {% endblock %}

      </div>
    </div>

</body>